@model OliveKids.Models.Sponsor

@{
    ViewData["Title"] = "Create";
    
}


@using (Html.BeginForm("Create","Sponsors",FormMethod.Post))
{
    @Html.HiddenFor( m=> m.SponsoredKids)
    @*DevExtreme addition*@
    <div id="form">
        @(Html.DevExtreme().Form<OliveKids.Models.Sponsor>()
            .ID("form")
            .Items(items =>
            {
                items.AddGroup()
                    .CssClass("first-group")
                    .ColCount(4)
                    .Items(groupItems =>
                    {
                        groupItems.AddSimple().Template("<div class='form-avatar'></div>");
                        groupItems.AddGroup().ColSpan(3).Items(secondGroupItems =>
                        {
                            secondGroupItems.AddSimpleFor(m => m.Name).IsRequired(true);
                            secondGroupItems.AddSimpleFor(m => m.Email).IsRequired(true);
                            secondGroupItems.AddSimpleFor(m => m.Mobile).IsRequired(true);
                        });
                    });


                items.AddGroup()
                    .CssClass("second-group")
                    .ColCount(1)
                    .Items(groupItems =>
                    {
                        groupItems.AddGroup().Items(secondGroupItems =>
                        {
                            secondGroupItems.AddSimpleFor(m => m.Language)
                                .HelpText("Would you like Olive Kids to translate Arabic reports& letter from Al-Amal into English")
                                .Editor(e => e
                                    .SelectBox()
                                    .DataSource(new string[] {
                                            "No thanks, I can read Arabic",
                                            "Yes please :)"
                                        }
                                    )
                                    
                                    .Value("")
                                );
                        }); ;

                        groupItems.AddGroup().Items(secondGroupItems =>
                        {
                            secondGroupItems.AddSimpleFor(m => m.CommunicationPrefrence)
                                .Editor(e => e
                                    .SelectBox()
                                    .DataSource(new string[] {
                                            "Email", "Whatsapp","SMS", "Call me"
                                        }
                                    )
                                );

                        });
                        groupItems.AddGroup().Items(secondGroupItems =>
                        {
                            secondGroupItems.AddSimpleFor(m => m.PaymentMethod)
                                .HelpText("For first payment")
                                .ColSpan(2)
                                .Editor(e => e
                                    .SelectBox()
                                    .DataSource(new string[] {
                                            "Pay by card - $600 Annual",
                                            "Pay by card - $300 Bi-Annual",
                                            "Direct debit - Please complete the form"
                                        }
                                    )
                                    .Value("")
                                );
                        });
                        groupItems.AddSimpleFor(m => m.Receipt);
                        groupItems.AddSimpleFor(m => m.Address)
                        .HelpText(" only used to send letters from your sponsored child");
                        groupItems.AddSimpleFor(m => m.Notes);
                    });
            })
            .FormData(Model)

        )
    </div>
    <br/>
       <div class="dx-datagrid">
        @(Html.DevExtreme().DataGrid<OliveKids.Models.Kid>()
    .DataSource(d => d.Mvc().Controller("Kids").LoadAction("Get"))
    .Selection(s => s.Mode(SelectionMode.Multiple))
    .HoverStateEnabled(true)
    .ShowBorders(true)
    .Paging (p => p.PageSize(10))
    .FilterRow( f => f.Visible(true))
    .Columns(columns =>
    {
        columns.AddFor(m => m.Name)
        .AllowResizing(true)
        .AllowSearch(true)
        .AllowSorting(true);
        columns.AddFor(m => m.Age)
            .Width(70);
        columns.AddFor(m => m.Description);
    })
    .OnSelectionChanged("selection_changed")
    
        )
    </div>

     <div class="dx-fieldset">
        @(Html.DevExtreme().ValidationSummary()
            .ID("summary")
        )

        @(Html.DevExtreme().Button()
            .ID("button")
            .Text("Register")
            .Type(ButtonType.Success)
            .UseSubmitBehavior(true)
        )
    </div>
}

<div id="employeeInfo">
    <img class="employeePhoto" />
    <p class="employeeNotes"></p>
</div>


<script>
    function getFormInstance() {
        return $("#form").dxForm("instance");
    }

    function selection_changed(selectedItems) {
        var data = selectedItems.selectedRowsData[selectedItems.selectedRowsData.length-1];
        if (data) {
            $(".employeeNotes").text(data.Description);
            var path = "../kids/" + data.Id + ".png";
            $(".employeePhoto").attr("src", path);
        }

        var newData;
        for (var i = 0; i < selectedItems.selectedRowsData.length; i++) {
            newData = selectedItems.selectedRowsData[i].Id + ",";
        }
        $('#SponsoredKids').val(newData);
    }
</script>
<br/><hr/>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
   